.git
.gitignore

node_modules
apps/**/node_modules

.env
.env.*
!.env.example

apps/frontend/.next
apps/frontend/out

apps/core-api/dist
apps/core-api/uploads
apps/core-api/src/generated/prisma

apps/ai-service/.venv
apps/ai-service/__pycache__
apps/ai-service/**/__pycache__
*.pyc

.DS_Store
Thumbs.db
.vscode
.idea